#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.testRunContainer {
  position: absolute;
  margin: 40px;
  top: 0;
  right: 0;
}

.refreshButton {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.refreshButton > svg {
  font-size: 50px;
}

.signButton {
  position: absolute !important;
  bottom: 0;
  transform: translate(-50%, -50%);
}
